@{
    ViewBag.Title = "SPA books";
}

<h2>SPA books</h2>


<div class="container-fluid">
    @{
        Html.RenderAction("SubMenu");
    }

    <div data-ng-view="">
    </div>
</div>

<script id="/SpaBooks/page3" type="text/ng-template">
    @Html.Action("page3");
</script>

@section scripts
{</script>
    <script src="~/App/Models/Book.js"></script>
    <script src="~/App/Controllers/SpaBooksCtrl.js"></script>
}
