<div class="container">
    <h4>This page retrieves each book using a REST service when it is needed</h4>
    <div class="span3 well">
        <ul class="nav">
            <li ng-repeat="book in books" ng-click="select(book)" class="btn-link">{{book.title}}</li>
        </ul>

    </div>
    <div class="span8">
        Id: {{selected.id}}
        <br />
        Title: {{selected.title}}
        <br />
        Author: {{selected.author}}

    </div>
</div>
