<div class="navbar" bs-navbar="">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li data-match-route="/page1"><a href="#/page1">All client</a></li>
                <li data-match-route="/page2"><a href="#/page2">Time</a></li>
                <li data-match-route="/page3"><a href="#/page3">REST service</a></li>
                <li data-match-route="/page4"><a href="#/page4">Edit</a></li>
                <li><a href="#/other">Other page</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /.navbar -->
