<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li><a href="#/page1">Page 1</a></li>
                <li><a href="#/page2">Page 2</a></li>
                <li><a href="#/other">Other page</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /.navbar -->
